nav {
  display:flex;
  align-items: center;
  justify-content: space-around;
  min-height: 10vh;
  background-color: rgb(85, 85, 184);
  color:white;
}
.nav-links {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}